<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>Formulario de cadastro de Noticia</title>
  </head>
  <body>
    <h1>Adicionar noticia</h1>

    <br />

    <form action="/noticias/salvar" method="post">
      <label for="">Titulo</label>
      <input
        type="text"
        id="titulo"
        name="titulo"
        placeholder="Titulo da Noticia"
      />
      <br />
      <label for="">Noticia</label>
      <textarea name="noticia" id="noticia" cols="30" rows="10"></textarea>
      <br />
      <input type="submit" value="salvar" />
    </form>
  </body>
</html>
