<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>Noticia</title>
  </head>
  <body>
    <h1>Noticia <%= noticia[0].id_noticia %></h1>

    <table>
      <thead>
        <tr>
          ID
        </tr>
        <tr>
          Titulo
        </tr>
        <tr>
          Conteudo
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= noticia[0].id_noticia %></td>
          <td><%= noticia[0].titulo %></td>
          <td><%= noticia[0].noticia %></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
